
.title {
    text-align: center;
    color: #16697A;
    margin-bottom: 1em;
}

body {
    margin: 5%;
    padding: 0;
    font-family: "Gill Sans", "gill Sans MT"; 
    display: grid;
    justify-content: center;
}

#entry-form {
    text-align: center;
}

.entry-textbox {
    width: 20em;
    height: 10em;
    border-radius: 25px;
    padding: 1em;
    background-color: #FFA500;
    border: unset;
}

.entry-textbox:focus, input:focus{
    outline: none;
}

#submit {
    border-radius: 15px;
    width: 90px;
    font-size: 22px; 
    border: unset;  
    padding: .5em; 
    margin-left: 70%;
}

#submit:focus {
    outline: none;
}